<div class="container">

  <div>
    <ul>         
      <!--<li  *ngFor="let flight of filteredFlights"> -->
          <li  *ngFor="let patient of patients">  
          
          <div > 
              <a routerLink="/patient_page/{{patient.id}}">                
              <h3 class="flight_name">  Patient Name : {{ patient.name }} {{patient.id}}</h3>

                  <table>
                      <thead>
                          <tr>
                              <th style="padding-right: 20px"> Email </th>
                              <th style="padding-right: 20px"> Arrival Date</th>
                              <th style="padding-right: 20px"> Updated </th>
                               <!-- <th> Arrival Time </th>
                              <th> Direct </th>
                              <th> Price </th>-->
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td style="padding-right: 20px">{{ patient.email }}</td> <!-- | enter: departureCityField : i-->
                              <td style="padding-right: 20px"> {{ patient.createdAt | date }}</td>
                              <td style="padding-right: 20px"> {{ patient.updatedAt | date }}</td>
                              <!--<td> {{ flight.arrivalTime }}</td>
                              <td>
                                 <div style="color:green" *ngIf="flight.direct;else unset"> Yes</div> 
                                 <ng-template #unset>No </ng-template>
                              </td>
                              <td> {{ flight.ticketPrice }} </td>-->
                          </tr>
                      </tbody>
                  </table>
              </a>
           </div>
      </li>
      
  </ul>
  </div>


</div>
