<div class="container">
  <h1> Please Choose Your Activity</h1>
    <div class="buttons">
      <button (click)="register()" class="enterBtn"> Register New Patient </button>
      <br>     
      <button (click)="seeTips()"  class=" enterBtn"> See Motivational Tips</button>
      <br>
      <button (click)="createEmergency()"  class=" enterBtn"> Create Emergency</button>
      <br>
      <button (click)="enterDailyInfo()"  class=" enterBtn"> Enter Daily Information</button>
      <br>
      <button (click)="checkDisease()" class=" enterBtn"> Check Disease by Symptoms</button>
      <br>
      <button (click)="seeVideo()" class="enterBtn"> See Helpful Video </button>
      <br>
    </div>
  </div>
