<div style="text-align: center">
    <h2 class="flight_name">  Emergencies List </h2>
  </div>

<div class="container"> 
    <div>
      <ul>         
        <!--<li  *ngFor="let flight of filteredFlights"> -->
            <li  *ngFor="let alert of alerts">              
            <div > 
                     <table>
                        <thead>
                            <tr>
                                <th style="padding-right: 30px; color: red"> Title </th>
                                <th style="padding-right: 30px"> Patient ID</th>
                                <th style="padding-right: 30px"> Description </th>
                                 <th style="padding-right: 30px"> Date </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-right: 30px; color: red">{{ alert.title }}</td> <!-- | enter: departureCityField : i-->
                                <td style="padding-right: 30px"> {{ alert.patient_id  }}</td>
                                <td style="padding-right: 30px"> {{ alert.body }}</td>
                                <td style="padding-right: 30px"> {{ alert.createdAt | date }}</td>
                            </tr>
                        </tbody>
                    </table>                 
             </div>
        </li>
        
    </ul>
    </div>
  
  
  </div>
  
