<div class="container">

  <div style="text-align: center">
    <h2 class="flight_name">  Emergencies List </h2>
  </div>
    <div>
      <ul>         
        <!--<li  *ngFor="let flight of filteredFlights"> -->
            <li> <!-- *ngFor="let emergency of emergencies">  -->
            
            <div > 
                              
               
  
                    <table>
                        <thead>
                            <tr>
                                <th style="padding-right: 30px; color: red"> Title </th>
                                <th style="padding-right: 30px"> Patient ID</th>
                                <th style="padding-right: 30px"> Description </th>
                                 <th style="padding-right: 30px"> Date </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-right: 30px; color: red">{{ emergency.title }}</td> <!-- | enter: departureCityField : i-->
                                <td style="padding-right: 30px"> {{ emergency.patient_id  }}</td>
                                <td style="padding-right: 30px"> {{ emergency.body }}</td>
                                <td style="padding-right: 30px"> {{ emergency.createdAt | date }}</td>
                                <!--<td> {{ flight.arrivalTime }}</td>
                                <td>
                                   <div style="color:green" *ngIf="flight.direct;else unset"> Yes</div> 
                                   <ng-template #unset>No </ng-template>
                                </td>
                                <td> {{ flight.ticketPrice }} </td>-->
                            </tr>
                        </tbody>
                    </table>
                 
             </div>
        </li>
        
    </ul>
    </div>
  
  
  </div>
  
