<div class="container" style="text-align:center"> 
<div class="boxes">
  <input type="checkbox" [(ngModel)]="sneezing" value="Sneezing" name="Sneezing"/> Sneezing <br>
  <input type="checkbox" [(ngModel)]="itching" value="Itching" name="Itching"/> Itching <br>
  <input type="checkbox" [(ngModel)]="soreThroat" value="Sore Throat" name="Sore Throat"/> Sore Throat <br>
  <input type="checkbox" [(ngModel)]="cough" value="Cough" name="HeadaCoughche"/> Cough <br>
  <input type="checkbox" [(ngModel)]="fever" value="Fever" name="Fever"/> FEVER <br>
  <input type="checkbox" [(ngModel)]="appetiteLoss" value="Lost Appetite" name="Appetite"/> Appetite Loss <br>
  <input type="checkbox" [(ngModel)]="inactivity" value="Inactivity" name="Inactivity"/> Inactivity<br>
  <input type="checkbox" [(ngModel)]="chestPain" value="Chest Pain" name="Chest Pain"/> Chest Pain <br>
  <input type="checkbox" [(ngModel)]="purplishSkin" value="Purplish Skin" name="Purplish Skin"/>Purplish Skin <br>
  <input type="checkbox" [(ngModel)]="panic" value="Panic" name="Panic"/> Panic <br>
  <input type="checkbox" [(ngModel)]="stress" value="Stress" name="Stress"/> Stress <br>
  <input type="checkbox" [(ngModel)]="sweating" value="Sweating" name="Sweating"/> Sweating <br>

  <button (click)="onEnter()"> CHECK </button>
</div>
</div>
